button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
}

.textOnly {
  display: none;
}
.iconOnly span:nth-child(2) {
  display: none;
}

/* Size */

.Default {
  font-size: 28px;
}
.Small {
  font-size: 24px;
}
.X-Small {
  font-size: 22px;
}
/* Types and Status */
/* mix classes */

.DefaultType.DefaultStatus{
    color: #41a641;
}

.DefaultType.Hover{
    color: #41a641;
    background-color: #b9edb9;
}
.DefaultType.Disabled{
    color: #c8e9c8;
}

.Neutral.DefaultStatus{
    color: black;
}

.Neutral.DefaultStatus svg{
    color:#5b5b5c;
}
.Neutral.Disabled{
    color: #c8e9c8;
}
.Reverse.DefaultStatus{
    color: white;
}
.Reverse.Hover{
    color: white;
    background-color: #282829;
}
.Reverse.Disabled{
    color: #6b6b6b;
}
.Neutral.Hover{
    background-color:#f2f3f5;
}
.Neutral.Hover svg{
    color: #5b5b5c;
}
.Hover{
    background-color: #edfaed;
}
.Disabled{
    color: #c8e9c8;
}

.DefaultType{
    color: #41a641;
}
.Neutral{
    color: #111111;
    /* 5b5b5c */
}




